<form>
	<label>Zip Code:</label> <input type="text" />
</form>
<ul>
    <% @confessors.each do |confessor| %>
	<li class="item">
		<div class="column col2">
			<h3><%= confessor.full_name_address %></h3>
			<% if confessor.in? then %><h4>Hearing confession from ? - ?</h4><% end %>
			<div class="details">
				<p>
					<%= confessor.confession_comments %>
				</p>
				<a href="#" class="more-link">more...</a>
				<% if confessor.biography.length > 0 %>
				<div class="deep-details">
					<h4>About <%= confessor.informal_address %>...</h4>
					<img class="portrait thumb" />
					<p>
						<%= confessor.biography %>
					</p>
				</div>
				<% end %>
			</div>
		</div>
		<div class="column col1">
			<h3><%= confessor.status_for_display %></h3>
			<h4></h4>
		</div>
		<% if confessor.in? %>
		<div class="column col3">
			<h3>@ <%= confessor.confession_location.nickname %></h3>
			<p id="address" class="details">
				<%= confessor.confession_location.address_line_1 %><br />
				<%= confessor.confession_location.address_line_2 %>
			</p>
		</div>
		<% end %>
	</li>
	<% end %>
</ul>

<script>
/*
	$('.item')
		.mouseenter(function(e) {
			$(this).find('.details').show();
		})
		.mouseleave(function(e) {
			var $me = $(this);
			$me.find('.details').hide();
			$me.find('.deep-details').hide();
			$me.find('.more-link').show();
		});
	$('.more-link')
		.click(function(e) {
			var $me = $(this);
			$me.closest('.details').find('.deep-details').show();
			$me.hide();
		});
		*/
</script>
