<p>Password: <%= State.find_by_name("zzPassword").abbreviation %></p>
<h2>Static Resources</h2>
<p><%= link_to 'States', states_path %> (<a href="states.json">json</a>)</p>
<p><%= link_to 'Dioceses', dioceses_path %> (<a href="dioceses.json">json</a>)</p>
<p><%= link_to 'Account Statuses', account_statuses_path %> (<a href="account_statuses.json">json</a>)</p>
<p><%= link_to 'Account Roles', account_roles_path %> (<a href="account_roles.json">json</a>)</p>
<p><%= link_to 'Confessor Request Statuses', confessor_request_statuses_path %> (<a href="confessor_request_statuses.json">json</a>)</p>
<p><%= link_to 'Confessor Offices', confessor_offices_path %> (<a href="confessor_offices.json">json</a>)</p>
<p><%= link_to 'Confession Statuses', confession_statuses_path %> (<a href="confessor_statuses.json">json</a>)</p>

<h2>Dynamic Resources</h2>
<p><%= link_to 'Confession Locations', confession_locations_path %> (<a href="confession_locations.json">json</a>)</p>
<p><%= link_to 'Confession Location Changes', confession_location_changes_path %> (<a href="confession_location_changes.json">json</a>)</p>
<p><%= link_to 'User Accounts', user_accounts_path %> (<a href="user_accounts.json">json</a>)</p>
<p><%= link_to 'User Account Changes', user_account_changes_path %> (<a href="user_account_changes.json">json</a>)</p>
<p><%= link_to 'Confessors', confessors_path %> (<a href="confessors.json">json</a>)</p>
<p><%= link_to 'Confessor Changes', confessor_changes_path %> (<a href="confessor_changes.json">json</a>)</p>
<p><%= link_to 'Confessor requests', confessor_requests_path %> (<a href="confessor_requests.json">json</a>)</p>
<p><%= link_to 'Confessor request changes', confessor_request_changes_path %> (<a href="confessor_request_changes.json">json</a>)</p>
