<h2>Static Resources</h2>
<p><%= link_to 'States', states_path %></p>
<p><%= link_to 'Dioceses', dioceses_path %></p>
<p><%= link_to 'Account Statuses', account_statuses_path %></p>
<p><%= link_to 'Account Roles', account_roles_path %></p>
<p><%= link_to 'Confessor Request Statuses', confessor_request_statuses_path %></p>
<p><%= link_to 'Confessor Offices', confessor_offices_path %></p>
<p><%= link_to 'Confessor Statuses', confessor_statuses_path %></p>

<h2>Dynamic Resources</h2>
<p><%= link_to 'Confession Locations', confession_locations_path %></p>
<p><%= link_to 'Confession Location Changes', confession_location_changes_path %></p>

<p><%= link_to 'User Accounts', user_accounts_path %></p>
<p><%= link_to 'User Account Changes', user_account_changes_path %></p>
