<h1>Find a Confessor</h1>
<form role="form" action="<%= root_path %>" method="get">
	<input id="search" type="text" name="search" value="<%= params['search'] %>" class="form-control" placeholder="Need to use twitter typeahead for search">
</form>
<ul class="" id="confessor_list">
    <% @available_locations.each do |location, confessors| %>
	    <li class="item enhanced">
	    	<% address = location.address_line_1 + '<br />' + location.address_line_2 %>
		    <p class="title" data-trigger="click" data-placement="bottom" data-title="Location" data-html="true" data-content="<%= address %>"><%= location.nickname %>, <%= location.city %></p>
	    	<% confessors.each do |confessor| %>
		    	<p class="tagline" ><%= confessor.full_name_address %>  <%= confessor.confession_start_time.strftime('%l:%M %p') %> - <%= confessor.confession_end_time.strftime('%l:%M %p') %></p>
		    	<% if confessor.confession_comments %>
			    	<p class="details"><%= confessor.confession_comments %></p>
		    	<% end %>
	    	<% end %>
		</li>
	<% end %>
</ul>

<script type="text/javascript">
$(function() {
	$('#confessor_list').find('.title').each(function() {
		$(this).popover();
	});
//	$('#srch_diocese').autocomplete({
//      source: [
//      	<%# @dioceses.each do |diocese| %>
//      		"<%#= diocese.name %>",
//      	<%# end %>
//      ]
//    });
    
});
</script>
<%
=begin
%>
<form>
	<label>Zip Code:</label> <input type="text" />
</form>
<ul>
    <% @confessors.each do |confessor| %>
	<li class="item">
		<div class="column col2">
			<h3><%= confessor.full_name_address %></h3>
			<% if confessor.in? then %><h4>Hearing confession from ? - ?</h4><% end %>
			<div class="details">
				<p>
					<%= confessor.confession_comments %>
				</p>
				<a href="#" class="more-link">more...</a>
				<% if confessor.biography.length > 0 %>
				<div class="deep-details">
					<h4>About <%= confessor.informal_address %>...</h4>
					<img class="portrait thumb" />
					<p>
						<%= confessor.biography %>
					</p>
				</div>
				<% end %>
			</div>
		</div>
		<div class="column col1">
			<h3><%= confessor.status_for_display %></h3>
			<h4></h4>
		</div>
		<% if confessor.in? %>
		<div class="column col3">
			<h3>@ <%= confessor.confession_location.nickname %></h3>
			<p id="address" class="details">
				<%= confessor.confession_location.address_line_1 %><br />
				<%= confessor.confession_location.address_line_2 %>
			</p>
		</div>
		<% end %>
	</li>
	<% end %>
</ul>
<%
=end
%>
<script>
/*
	$('.item')
		.mouseenter(function(e) {
			$(this).find('.details').show();
		})
		.mouseleave(function(e) {
			var $me = $(this);
			$me.find('.details').hide();
			$me.find('.deep-details').hide();
			$me.find('.more-link').show();
		});
	$('.more-link')
		.click(function(e) {
			var $me = $(this);
			$me.closest('.details').find('.deep-details').show();
			$me.hide();
		});
		*/
</script>
