<%= form_for(@confessor) do |f| %>
  <% if @confessor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@confessor.errors.count, "error") %> prohibited this confessor from being saved:</h2>

      <ul>
      <% @confessor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% if @edit_mode == :full || @edit_mode == :status then %>
  <div class="field">
    <%= f.label :confession_status %><br>
    <%= collection_select(:confessor, :confession_status_id, ConfessionStatus.all, :id, :name)%>
  </div>
  <div class="field">
    <%= f.label :confession_location %><br>
    <%= collection_select(:confessor, :confession_location_id, ConfessionLocation.all, :id, :name)%>
  </div>
  <div class="field">
    <%= f.label :confession_start_time %><br>
    <%= f.datetime_select :confession_start_time %>
  </div>
  <div class="field">
    <%= f.label :confession_end_time %><br>
    <%= f.datetime_select :confession_end_time %>
  </div>
  <div class="field">
    <%= f.label :confession_comments %><br>
    <%= f.text_field :confession_comments %>
  </div>
<% end %>

<% if @edit_mode == :full || @edit_mode == :settings then %>
  <div class="field">
    <%= f.label :confessor_office %><br>
    <%= collection_select(:confessor, :confessor_office_id, ConfessorOffice.all, :id, :name)%>
  </div>
  <div class="field">
    <%= f.label :salutation %><br>
    <%= f.text_field :salutation %>
  </div>
  <div class="field">
    <%= f.label :diocese %><br>
    <%= collection_select(:confessor, :diocese_id, Diocese.all, :id, :name)%>
  </div>
  <div class="field">
    <%= f.label :biography %><br>
    <%= f.text_area :biography %>
  </div>
<% end %>

<% if @edit_mode == :full then %>
  <div class="field">
    <%= f.label :user_account %><br>
    <%= collection_select(:user_account, :user_account_id, UserAccount.all, :id, :username)%>
  </div>
  <div class="field">
    <%= label :confessor_change, :change_comments %><br>
    <%= text_area :confessor_change, :change_comments %>
  </div>
<% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
