<p id="notice"><%= notice %></p>

<p>
  <strong>Confessor office:</strong>
  <%= @confessor.confessor_office.name %>
</p>

<p>
  <strong>Salutation:</strong>
  <%= @confessor.salutation %>
</p>

<p>
  <strong>Confession status:</strong>
  <%= @confessor.confession_status.name %>
</p>

<p>
  <strong>Confession location:</strong>
  <%= @confessor.confession_location.name %>
</p>

<p>
  <strong>Confession start time:</strong>
  <%= @confessor.confession_start_time %>
</p>

<p>
  <strong>Confession end time:</strong>
  <%= @confessor.confession_end_time %>
</p>

<p>
  <strong>Confession comments:</strong>
  <%= @confessor.confession_comments %>
</p>

<p>
  <strong>Biography:</strong>
  <%= @confessor.biography %>
</p>

<%= link_to 'Edit', edit_confessor_path(@confessor) %> |
<%= link_to 'Back', confessors_path %>
