<p id="notice"><%= notice %></p>

<h1><small><%= @confessor.full_name_address %></small></h1>

<div class="container-fluid">
	<div class="row">
		<% if @confessor.in? %>
			<div class="col-sm-9">
				<h2>You are IN the confessional</h2>
			</div>
			<div class="col-sm-3">
				<%= form_for(@confessor) do |f| %>
					<%= f.hidden_field :confession_status_id, :value => "3" %>
					<%= f.hidden_field :source, :value => @source %>
					<%= f.submit "Leave Confessional", :id => "leave_confession_commit", class: "btn btn-danger" %>
				<% end %>
			</div>
		<% else %>
			<div class="">
				<h2>You are OUT</h2>
			</div>
			<div class="">
				<input type="button" value="Enter the Confessional" id="enter_confession_commit" class="btn btn-success"/>
			</div>
		<% end %>
	</div>
	
	<% if @confessor.in? %>
		<div class="row">
			<% if @confessor.busy? %>
				<div class="status_item">
					<h2>Your busy light is ON</h2>
				</div>	
				<div class="status_item_icon">
					<%= form_for(@confessor) do |f| %>
						<%= f.hidden_field :confession_status_id, :value => "1" %>
						<%= f.hidden_field :source, :value => @source %>
						<%= f.submit "Turn Off", :id => "leave_confession_commit", class: "btn btn-danger" %>
					<% end %>
				</div>
			<% else %>
				<div class="col-sm-9">
					<h2>Your busy light is OFF</h2>
				</div>	
				<div class="col-sm-3">
					<%= form_for(@confessor) do |f| %>
						<%= f.hidden_field :confession_status_id, :value => "2" %>
						<%= f.hidden_field :source, :value => @source %>
						<%= f.submit "Turn On", :id => "leave_confession_commit", class: "btn btn-success" %>
					<% end %>
				</div>
			<% end %>
		</div>
		
		<div class="row">
			<div class="col-sm-9">
				<h2>Details...</h2>
				<p><%= @confessor.confession_location.nickname %></p>
				<p>From <%= @confessor.confession_start_time.strftime('%l:%M %P') %> until <%= @confessor.confession_end_time.strftime('%l:%M %P') %></p>
				<p><%= @confessor.confession_comments %></p>
			</div>
			<div class="col-sm-3">
				<input type="button" value="Edit Details" id="edit_details_button"  class="btn btn-default" />
			</div>
		</div>
	<% end %>
	
	<div id="status_form_container" style="display:none;">
		<%= form_for(@confessor, html: { class: "form-horizontal", role: "form"}) do |f| %>
			<div class="field form-group">
		  		<%= f.label :confession_location, "Location:", class: "col-sm-2 control-label" %>
		  		<div class="col-sm-10">
		    		<%= collection_select(:confessor, :confession_location_id, ConfessionLocation.all, :id, :name, {:include_blank => true}, {:class => "col-sm-11 form-control"})%>
					<a href="<%= new_priest_confession_location_path %>">
						<button type="button" class="btn btn-default btn-lg">
	  						<span class="glyphicon glyphicon-plus"></span>
						</button>
					</a>
		    	</div>
		  	</div>
		  	<div class="field form-group">
		    	<%= f.label :confession_end_time, "Until:", class: "col-sm-2 control-label" %>
		    	<div class="col-sm-10">
		    		<% end_time = @confessor.confession_end_time.strftime('%H:%M') %>
		    		<%= f.text_field :confession_end_time, value: end_time, class: "form-control", type: "time" %>
		    	</div>
			</div>
		  	<div class="field form-group">
		    	<%= f.label :confession_comments, "Comments:", class: "col-sm-2 control-label" %>
		    	<div class="col-sm-10">
			    	<%= f.text_area :confession_comments, class: "form-control", rows: "4" %>
		    	</div>
		  	</div>
		  	<div class="field form-group text-right">
		  		<%= f.submit "Update Details", class: "btn btn-primary" %>
		  		<input type="button" name="cancel" value="Cancel" id="status_update_cancel" class="btn btn-default" />
		  	</div>
		  	<% val = @confessor.out? ? 1 : @confessor.confession_status_id %>
		  	<%= f.hidden_field :confession_status_id, :value => val %>
		  	<%= f.hidden_field :source, :value => @source %>
	  	<% end %>
	</div>
</div>

<script type="text/javascript">
	$(function() {
		$("#enter_confession_commit").on("click", showDetailsForm);
		$("#status_update_cancel").on("click", hideDetailsForm);
		$("#edit_details_button").on("click", toggleDetailsForm);
	});
	
	var showDetailsForm = function() {
		$("#status_form_container").show();
		
	};
	
	var hideDetailsForm = function() {
		$("#status_form_container").hide();
	};
	
	var toggleDetailsForm = function() {
		$("#status_form_container").toggle();
	};
</script>

