<p id="notice"><%= notice %></p>

<h1><%= @confessor.full_name_address %></h1>

<% if @confessor.in? %>
	<h2>You are IN the confessional</h2>
<% else %>
	<h2>You are OUT</h2>
<% end %>	

<% if @confessor.busy? %>
	<h2>Your busy light is ON</h2>
<% else %>
	<h2>Your busy light is OFF</h2>
<% end %>

<h2>Details...</h2>
<p><%= @confessor.confession_location.nickname %></p>
<p>From ? until ?</p>
<p><%= @confessor.confession_comments %></p>

<%
=begin
%>
<p>
  <strong>Name:</strong>
  <%= @confessor.full_name %>
</p>

<p>
  <strong>Confession status:</strong>
  <% if @confessor.available? then "IN" end %>
  <% else if @confessor.busy? then "BUSY" end %>
  <% else then "OUT" end %>
</p>

<% if @confessor.available? or @confessor.busy? %>
	<p>
	  <strong>Confession location:</strong>
	  <%= @confessor.confession_location.name %>
	</p>
	
	<p>
	  <strong>Confession start time:</strong>
	  <%= @confessor.confession_start_time %>
	</p>
	
	<p>
	  <strong>Confession end time:</strong>
	  <%= @confessor.confession_end_time %>
	</p>
	
	<% if current_user_account %>
		<%= form_for(@confessor) do |f| %>
		<% end %>
	<% else %>
		<p>
		  <strong>Confession comments:</strong>
		  <%= @confessor.confession_comments %>
		</p>
	<% end %>
<% end %>
<%
=end
%>
