<%= form_for(@user_account) do |f| %>
  <% if @user_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_account.errors.count, "error") %> prohibited this user_account from being saved:</h2>

      <ul>
      <% @user_account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :home_phone %><br>
    <%= f.text_field :home_phone %>
  </div>
  <div class="field">
    <%= f.label :work_phone %><br>
    <%= f.text_field :work_phone %>
  </div>
  <div class="field">
    <%= f.label :mobile_phone %><br>
    <%= f.text_field :mobile_phone %>
  </div>
  <% if @edit_mode == :edit %>
  <div class="field">
    <%= f.label :account_status %><br>
    <%= collection_radio_buttons(:user_account, :account_status_id, AccountStatus.all, :id, :name)%>
  </div>
  <% end %>
  <div class="field">
    <%= f.label :account_roles %><br>
    <%= collection_check_boxes(:user_account, :account_role_ids, AccountRole.all, :id, :name)%>
  </div>
  <% if @edit_mode == :new %>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <% end %>
  
  <h3>Confessor Info</h3>
  <div class="field">
    <%= f.label :confessor_office %><br>
    <%= collection_radio_buttons(:confessor, :confessor_office_id, ConfessorOffice.all, :id, :name)%>
  </div>
  <div class="field">
    <%= f.label :diocese %><br>
    <%= collection_select(:confessor, :diocese_id, Diocese.all, :id, :name, :include_blank => true)%>
  </div>
  <div class="field">
    <%= f.label :salutation %><br>
    <%#= f.text_field object: :confessor, method: :salutation %>
    <input id="confessor_salutation" name="confessor[salutation]" type="text">
  </div>
  <div class="field">
    <%= f.label :biography %><br>
    <%#= f.text_area :biography %>
    <textarea id="confessor_biography" name="confessor[biography]"></textarea>
  </div>

  <% if @edit_mode == :edit %>
  <div class="field">
    <%= label :user_account_change, :change_comments %><br>
    <%= text_area :user_account_change, :change_comments %>
  </div>
  <% end%>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
