<% is_super = current_user_account.is_superadmin? %>


<h1><%= is_super ? "User Accounts" : "Confessor Accounts" %></h1>

<div class="nav_links">
	<% if is_super %>
		<%= link_to "confessors", user_accounts_path(filter: 'confessors') %> |
		<%= link_to "administrators", user_accounts_path(filter: 'admins') %> |
	<% end %>
	<%= link_to is_super ? "new user" : "new confessor", new_user_account_path %>
</div>

<ul id="confessor_request_list">
<% @user_accounts.each do |user_account| %>
	<li>
		<div class="list_item">
			<div class="col25"><%= user_account.formal_name %></div>
			<div class="col33">
				<% if user_account.is_confessor? %>
					<%= user_account.confessor.diocese.name_and_state_abbr %>
				<% end %>
			</div>
			<div class="col10">
				<% if !user_account.is_admin? or is_super or (user_account.id == current_user_account.id) %>
					<%= link_to "edit...", edit_user_account_path(id: user_account.id) %>
				<% end %>
			</div>
		</div>
	</li>
<% end %>
</ul>

<%
=begin%>
<h1>User Accounts</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Account status</th>
      <th>Account roles</th>
      <th>Confessor ID</th>
      <th>Salutation</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @user_accounts.each do |user_account| %>
      <tr>
        <td><%= user_account.first_name %></td>
        <td><%= user_account.last_name %></td>
        <td><%= user_account.email %></td>
        <td><%= user_account.account_status.name %></td>
        <td>
    	<% user_account.account_roles.each do |role| %>
    		<%= role.name %>&nbsp;
    	<% end %>
        </td>
        <% if user_account.is_confessor? %>
        <td><%= user_account.confessor.id %></td>
        <td><%= user_account.confessor.salutation %></td>
        <% else %>
        <td></td>
        <td></td>
        <% end %>
        <td><%= link_to 'Show', user_account %></td>
        <td><%= link_to 'Edit', edit_user_account_path(user_account) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% 
=begin %>
<ul>
	<% @user_accounts.each do |user_account| %>
		<h3><%= user_account.first_name %> <%= user_account.last_name %></h3>
		<% if user_account.confessor %>
			<p>
				Bishop - Diocese of Portland, OR
	    	</p>
	    <% else %>
	    	<p>
	    		Administrator
	    	</p>
	    <% end %>
	<% end %>
</ul>

<br>

<%= link_to 'New User account', new_user_account_path %>
<% 
=end %>
