<h1>Listing user_accounts</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Account status</th>
      <th>Account roles</th>
      <th>Confessor ID</th>
      <th>Salutation</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @user_accounts.each do |user_account| %>
      <tr>
        <td><%= user_account.first_name %></td>
        <td><%= user_account.last_name %></td>
        <td><%= user_account.email %></td>
        <td><%= user_account.account_status.name %></td>
        <td>
    	<% user_account.account_roles.each do |role| %>
    		<%= role.name %>&nbsp;
    	<% end %>
        </td>
        <% if user_account.is_confessor %>
        <td><%= user_account.confessor.id %></td>
        <td><%= user_account.confessor.salutation %></td>
        <% else %>
        <td></td>
        <td></td>
        <% end %>
        <td><%= link_to 'Show', user_account %></td>
        <td><%= link_to 'Edit', edit_user_account_path(user_account) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% 
=begin %>
<ul>
	<% @user_accounts.each do |user_account| %>
		<h3><%= user_account.first_name %> <%= user_account.last_name %></h3>
		<% if user_account.confessor %>
			<p>
				Bishop - Diocese of Portland, OR
	    	</p>
	    <% else %>
	    	<p>
	    		Administrator
	    	</p>
	    <% end %>
	<% end %>
</ul>
<% 
=end %>

<br>

<%= link_to 'New User account', new_user_account_path %>
