<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user_account.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user_account.last_name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user_account.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user_account.password %>
</p>

<p>
  <strong>Account status:</strong>
  <%= @user_account.account_status %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user_account.email %>
</p>

<p>
  <strong>Home phone:</strong>
  <%= @user_account.home_phone %>
</p>

<p>
  <strong>Work phone:</strong>
  <%= @user_account.work_phone %>
</p>

<p>
  <strong>Mobile phone:</strong>
  <%= @user_account.mobile_phone %>
</p>

<%= link_to 'Edit', edit_user_account_path(@user_account) %> |
<%= link_to 'Back', user_accounts_path %>
