<h1>Listing confessor_changes</h1>

<table>
  <thead>
    <tr>
      <th>Confessor</th>
      <th>Confessor office</th>
      <th>Salutation</th>
      <th>User account</th>
      <th>Biography</th>
      <th>Change comments</th>
      <th>Changed by user account</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @confessor_changes.each do |confessor_change| %>
      <tr>
        <td><%= confessor_change.confessor_id %></td>
        <td><%= confessor_change.confessor_office.name %></td>
        <td><%= confessor_change.salutation %></td>
        <td><%= confessor_change.user_account.username %></td>
        <td><%= confessor_change.biography %></td>
        <td><%= confessor_change.change_comments %></td>
        <td><%= confessor_change.changed_by_user_account.username %></td>
        <td><%= link_to 'Show', confessor_change %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

