<h1>Listing confessor_changes</h1>

<table>
  <thead>
    <tr>
      <th>Confessor office</th>
      <th>Salutation</th>
      <th>User account</th>
      <th>Biography</th>
      <th>Change comments</th>
      <th>Changed by user account</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @confessor_changes.each do |confessor_change| %>
      <tr>
        <td><%= confessor_change.confessor_office %></td>
        <td><%= confessor_change.salutation %></td>
        <td><%= confessor_change.user_account %></td>
        <td><%= confessor_change.biography %></td>
        <td><%= confessor_change.change_comments %></td>
        <td><%= confessor_change.changed_by_user_account_id %></td>
        <td><%= link_to 'Show', confessor_change %></td>
        <td><%= link_to 'Edit', edit_confessor_change_path(confessor_change) %></td>
        <td><%= link_to 'Destroy', confessor_change, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Confessor change', new_confessor_change_path %>
