<p id="notice"><%= notice %></p>

<p>
  <strong>Confessor office:</strong>
  <%= @confessor_change.confessor_office.name %>
</p>

<p>
  <strong>Diocese:</strong>
  <%= @confessor_change.diocese.name %>
</p>

<p>
  <strong>Salutation:</strong>
  <%= @confessor_change.salutation %>
</p>

<p>
  <strong>User account:</strong>
  <% if @confessor_change.user_account %>
  <%= @confessor_change.user_account.username %>
  <% end %>
</p>

<p>
  <strong>Biography:</strong>
  <%= @confessor_change.biography %>
</p>

<p>
  <strong>Change comments:</strong>
  <%= @confessor_change.change_comments %>
</p>

<p>
  <strong>Changed by user account:</strong>
  <%= @confessor_change.changed_by_user_account_id %>
</p>

<%= link_to 'Back', confessor_changes_path %>
