<p id="notice"><%= notice %></p>

<p>
  <strong>Confession location ID:</strong>
  <%= @confession_location_change.confession_location.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @confession_location_change.name %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @confession_location_change.nickname %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @confession_location_change.street_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @confession_location_change.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @confession_location_change.state.name %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @confession_location_change.postal_code %>
</p>

<p>
  <strong>Change comments:</strong>
  <%= @confession_location_change.change_comments %>
</p>

<p>
  <strong>Changed by:</strong>
  <%= @confession_location_change.user_account.username %>
</p>

<p>
  <strong>Changed on:</strong>
  <%= @confession_location_change.user_account.created_at.to_s(:rfc822) %>
</p>

<%= link_to 'Back', confession_location_changes_path %>
