<h1>Confession Locations</h1>

<div class="nav_links">
	<%= link_to "new location", new_confession_location_path %>
</div>

<ul>
<% @confession_locations.each do |confession_location| %>
	<li>
		<div class="list_item">
			<div class="col33">
				<%= confession_location.name %>
			</div>
			<div class="col25">
				<%= confession_location.city_and_state_abbr %>
			</div>
			<div>
				<%= link_to "edit...", edit_confession_location_path(id: confession_location.id) %>
			</div>
		</div>
	</li>
<% end %>
</ul>


<%
=begin
%>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Nickname</th>
      <th>Street address</th>
      <th>City</th>
      <th>State</th>
      <th>Postal code</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @confession_locations.each do |confession_location| %>
      <tr>
        <td><%= confession_location.name %></td>
        <td><%= confession_location.nickname %></td>
        <td><%= confession_location.street_address %></td>
        <td><%= confession_location.city %></td>
        <td><%= confession_location.state.name %></td>
        <td><%= confession_location.postal_code %></td>
        <td><%= link_to 'Show', confession_location %></td>
        <td><%= link_to 'Edit', edit_confession_location_path(confession_location) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Confession location', new_confession_location_path %>
<%
=end
%>