<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Home phone</th>
      <th>Mobile phone</th>
      <th>Email</th>
      <th>Street address</th>
      <th>City</th>
      <th>State</th>
      <th>Diocese</th>
      <th>Parish</th>
      <th>Password</th>
      <th>Office</th>
      <th>Salutation</th>
      <th>Photo</th>
      <th>About me</th>
      <th>Account status</th>
      <th>Confessional status</th>
      <th>Confessional location</th>
      <th>Confessional date</th>
      <th>Confessional start time</th>
      <th>Confessional end time</th>
      <th>Confessional details</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.home_phone %></td>
        <td><%= user.mobile_phone %></td>
        <td><%= user.email %></td>
        <td><%= user.street_address %></td>
        <td><%= user.city %></td>
        <td><%= user.state %></td>
        <td><%= user.diocese %></td>
        <td><%= user.parish %></td>
        <td><%= user.password %></td>
        <td><%= user.office %></td>
        <td><%= user.salutation %></td>
        <td><%= user.photo %></td>
        <td><%= user.about_me %></td>
        <td><%= user.account_status %></td>
        <td><%= user.confessional_status %></td>
        <td><%= user.confessional_location_id %></td>
        <td><%= user.confessional_date %></td>
        <td><%= user.confessional_start_time %></td>
        <td><%= user.confessional_end_time %></td>
        <td><%= user.confessional_details %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
