<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_location.user_id %>
</p>

<p>
  <strong>Confessional location:</strong>
  <%= @user_location.confessional_location_id %>
</p>

<p>
  <strong>Location details:</strong>
  <%= @user_location.location_details %>
</p>

<%= link_to 'Edit', edit_user_location_path(@user_location) %> |
<%= link_to 'Back', user_locations_path %>
