<h1>Confessor Requests</h1>

<div class="nav_links">
	<%= link_to "in progress", confessor_requests_path(filter: 'pending') %> |
	<%= link_to "new", confessor_requests_path(filter: 'new') %>  
</div>

<ul id="confessor_request_list">
<% @confessor_requests.each do |confessor_request| %>
	<li>
		<div class="list_item">
			<div class="col15"><%= confessor_request.created_at.strftime('%b %d') %></div>
			<div class="col25"><%= confessor_request.full_name %></div>
			<div class="col33"><%= confessor_request.diocese.name_and_state_abbr %></div>
			<div class="col"><%= link_to @filter == 'pending' ? "Continue..." : "Start...", confessor_request_path(id: confessor_request.id, start: 1) %></div>
		</div>
	</li>
<% end %>
</ul>

<%
=begin%>
<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Diocese</th>
      <th>State</th>
      <th>Confessor request status</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @confessor_requests.each do |confessor_request| %>
      <tr>
        <li><%= confessor_request.first_name %></li>
        <li><%= confessor_request.last_name %></li>
        <li><%= confessor_request.email %></li>
        <li><%= confessor_request.diocese.name %></li>
        <li><%= confessor_request.state.name %></li>
        <li><%= confessor_request.confessor_request_status.name %></li>
        <li><%= link_to 'Show', confessor_request %></li>
        <li><%= link_to 'Edit', edit_confessor_request_path(confessor_request) %></li>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%
=end
%>

<%#= link_to 'New Confessor request', new_confessor_request_path %>
