<h1>Listing confessor_requests</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Diocese</th>
      <th>State</th>
      <th>Confessor request status</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @confessor_requests.each do |confessor_request| %>
      <tr>
        <td><%= confessor_request.first_name %></td>
        <td><%= confessor_request.last_name %></td>
        <% if confessor_request.diocese then %>
        <td><%= confessor_request.diocese.name %></td>
        <% else %>
        <td></td>
        <% end %>
        <% if confessor_request.state then %>
        <td><%= confessor_request.state.name %></td>
        <% else %>
        <td></td>
        <% end %>
        <td><%= confessor_request.confessor_request_status.name %></td>
        <td><%= link_to 'Show', confessor_request %></td>
        <td><%= link_to 'Edit', edit_confessor_request_path(confessor_request) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Confessor request', new_confessor_request_path %>
