<p id="notice"><%= notice %></p>

<p>
  <strong>User account:</strong>
  <%= @user_account_change.user_account_id %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user_account_change.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user_account_change.last_name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user_account_change.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user_account_change.password %>
</p>

<p>
  <strong>Account status:</strong>
  <%= @user_account_change.account_status.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user_account_change.email %>
</p>

<% if @user_account_change.confessor %>
<p>
  <strong>Confessor id:</strong>
  <%= @user_account_change.confessor.id %>
</p>

<p>
  <strong>Salutation:</strong>
  <%= @user_account_change.confessor.salutation %>
</p>
<% end %>

<p>
  <strong>Home phone:</strong>
  <%= @user_account_change.home_phone %>
</p>

<p>
  <strong>Work phone:</strong>
  <%= @user_account_change.work_phone %>
</p>

<p>
  <strong>Mobile phone:</strong>
  <%= @user_account_change.mobile_phone %>
</p>

<p>
  <strong>Changed by</strong>
  <%= @user_account_change.changed_by_user_account.username %>
</p>

<p>
  <strong>Change comments:</strong>
  <%= @user_account_change.change_comments %>
</p>

<%= link_to 'Back', user_account_changes_path %>
