<!DOCTYPE html>
<html>
<head>
    <title>MyConfessor - Administrator</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    
    <%= javascript_include_tag "jquery-1.10.2.js" %>
    <%= javascript_include_tag "underscore.js" %>
    <%= javascript_include_tag "backbone.js" %>
    <%= javascript_include_tag "handlebars.js" %>
  	
  	<%= csrf_meta_tags %>
	<body>
        <div id="banner">
        	<%= image_tag "banner.png" %>
        </div>
        <div id="header"></div>
        <div id="content">
			<% if alert %>
			<p class="alert alert-error"><%= alert %></p>
			<% end %>
	
			<%= yield %>
        </div>
        <div id="footer">
        	<div id="toolbar">
	            <a href="confessor_requests" class="icon_container" data-page="confessor_requests">
	                <%= image_tag "icon_chat.png" %>
	                <span class="icon_label">Find a Confessor</span>
	            </a>
	            <a href="user_accounts" class="icon_container" data-page="user_accounts">
	                <%= image_tag "icon_people.png" %>
	                <span class="icon_label">Priest Console</span>
	            </a>
	    	</div>
        </div>
	</body>
<html>	
