<!DOCTYPE html>
<html>
<head>
    <title>MyConfessor - Confessor</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

    <%= javascript_include_tag "jquery-1.10.2.js" %>
    <%= javascript_include_tag "underscore.js" %>
    <%= javascript_include_tag "backbone.js" %>
    <%= javascript_include_tag "handlebars.js" %>
</head>
    <body>        
        <div id="banner"><%= image_tag "banner.png" %></div>
        <div id="header"></div>
        <div id="content"></div>
        <div id="footer">
            <a href="/confessor" class="icon_container" data-page="confessor" data-record-id="1">
                <%= image_tag "icon_person.png" %>
                <span class="icon_label">My Status</span>
            </a>
            <a href="/confession_locations" class="icon_container" data-page="confession_locations">
                <%= image_tag "icon_home1.png" %>
                <span class="icon_label">My Locations</span>
            </a>
            <a href="/confessor/edit" class="icon_container" data-page="edit_confessor">
                <%= image_tag "icon_gear.png" %>
                <span class="icon_label">Account</span>
            </a>
            <a href="/user_accounts/sign_out" class="icon_container">
                <%= image_tag "icon_unlock.png" %>
                <span class="icon_label">Log Out</span>
            </a>
        </div>


        <!----------------------------------------------------------->
        <!-- Templates (temporary until they can be pre-compiled) --->
        <!----------------------------------------------------------->
        
        <!-- Page container for the base PageView class -->
        <script id="page_container_tpl" type="text/x-handlebars-template">
            <div id="{{name}}_page" data-role="page" class="page_container"></div>
        </script>

        <!-- Confessor Status Page -->
        <script id="confessor_tpl" type="text/x-handlebars-template">
            <h2>My Status</h2>
            
            <p>I am...</p>
            <h3>{{#capitalize "all_upper"}}{{enum confession_status_id "confession_statuses"}}{{/capitalize}}</h3>
            <p>{{confession_start_time}} - {{confession_end_time}}</p>
            <form>
            	<input type="submit" value="Leave the Confessional">
            </form>
        </script>

        <!-- Locations Page -->
        <script id="confession_locations_tpl" type="text/x-handlebars-template">
            <h2>My Locations</h2>
            <ul class="list_container"></ul>
        </script>
        
        <script id="confession_location_item_tpl" type="text/x-handlebars-template">
            <li>
                <h3>{{nickname}}</h3>
                <p>{{city}}, {{enum state_id "states"}}</p>
            </li>
        </script>

        <!-- Edit Locations Page -->
        <script id="edit_location_tpl" type="text/x-handlebars-template">
            <h2>Edit Location</h2>
        </script>

        <!-- New Locations Page -->
        <script id="new_location_tpl" type="text/x-handlebars-template">
            <h2>Add a Location</h2>
        </script>

        <!-- Edit UserAccount ("Settings") Page -->
        <script id="edit_user_account_tpl" type="text/x-handlebars-template">
            <h2>Account</h2>
        </script>



        <!----------------------------------------------------------->
        <!-- Application Scripts ------------------------------------>
        <!----------------------------------------------------------->
        <%= javascript_include_tag "myconfessor.js" %>
        <%= javascript_include_tag "myconfessor_models.js" %>
        <%= javascript_include_tag "myconfessor_controllers.js" %>
        <%= javascript_include_tag "myconfessor_confessor.js" %>
        <script>
            //Start the app!
            $MC.mainView = new $MC.MainView();
        </script>
    </body>
</html>
