<!DOCTYPE html>
<html>
<head>
    <title>MyConfessor</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    
  	<%= csrf_meta_tags %>
	<body>
        <div id="banner">
        	<a href="/"><%= image_tag "banner.png" %></a>
        </div>
    	<div id="login_container">
			<% if user_account_signed_in? %>
			  <strong><%= current_user_account.email %></strong><br />
			  <% if current_user_account.is_confessor? %>
			  	<%= link_to "Priest", controller: "main", action: "priest" %> |
			  <% end %>
			  <% if current_user_account.is_admin? %>
			  	<%= link_to "Admin", controller: "main", action: "admin" %> |
			  <% end %>
			  <%= link_to "Sign Out", destroy_user_account_session_path, method: :delete, :class => 'navbar-link'  %>
			<% else %>
			  <%= link_to "Priest", "/priest" %> |
			  <%= link_to "Admin", "/admin" %>
			<% end %>
		</div>
        <div id="header">
        </div>
        <div id="content">
			<% if alert %>
			<p class="alert alert-error"><%= alert %></p>
			<% end %>
	
			<%= yield %>
        </div>
        <div id="footer">
        	<div id="toolbar">
	            <a href="/" class="icon_container" data-page="confessor_requests">
	                <%= image_tag "icon_person.png" %>
	                <span class="icon_label">Find a Confessor</span>
	            </a>
	            <a href="<%= new_confessor_request_url %>" class="icon_container" data-page="confessor_requests">
	                <%= image_tag "icon_chat.png" %>
	                <span class="icon_label">Request an Account</span>
	            </a>
	    	</div>
        </div>
	</body>
<html>	
