<!DOCTYPE html>
<html>
<head>
    <title>MyConfessor - Confessor</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

    <%= javascript_include_tag "jquery-1.10.2.js" %>
    <%= javascript_include_tag "underscore.js" %>
    <%= javascript_include_tag "backbone.js" %>
    <%= javascript_include_tag "handlebars.js" %>
</head>
    <body>        
        <div id="banner">
        	<%= image_tag "banner.png" %><span id="user_account_info"></span>
        </div>
        <div id="header"></div>
        <div id="content"></div>
        <div id="footer">
            <a href="confessor_requests/new" class="icon_container" data-page="new_confessor_request">
                <%= image_tag "icon_chat.png" %>
                <span class="icon_label">Request an Account</span>
            </a>
       		<div style="display:none;" id="toolbar">
	           	<!-- 
	           	<a href="/confessor" class="icon_container" data-page="confessor" data-record-id="1">
	            	<%= image_tag "icon_person.png" %>
	                <span class="icon_label">My Status</span>
	            </a>
	            <a href="/confession_locations" class="icon_container" data-page="confession_locations">
	                <%= image_tag "icon_home1.png" %>
	                <span class="icon_label">My Locations</span>
	            </a>
	            <a href="/confessor/edit" class="icon_container" data-page="edit_confessor">
	                <%= image_tag "icon_gear.png" %>
	                <span class="icon_label">Account</span>
	            </a>
	            <a href="/user_accounts/sign_out" class="icon_container">
	                <%= image_tag "icon_unlock.png" %>
	                <span class="icon_label">Log Out</span>
	            </a>
	            -->
	    	</div>
        </div>


        <!----------------------------------------------------------->
        <!-- Templates (temporary until they can be pre-compiled) --->
        <!----------------------------------------------------------->
        
        <!-- Page container for the base PageView class -->
        <script id="page_container_tpl" type="text/x-handlebars-template">
            <div id="{{name}}_page" data-role="page" class="page_container"></div>
        </script>

        <!-- Template for the logged in user account information -->
        <script id="user_account_info_tpl" type="text/x-handlebars-template">
			<strong>{{email}}</strong>
			<a href="logout" data-method="delete" class="logout" data-page="login">Log Out</a>
			<!-- link_to "Log Out", destroy_user_account_session_path, method: :delete, class: "logout" -->
        </script>

        <!-- Confessor Request Form ------>
        <script id="new_confessor_request_tpl" type="text/x-handlebars-template">
            <h2>Request an Account</h2>
           	<p>Fill out all the fields below. We'll call you to verify your identity and then send you an email with a link to complete the signup process. This usually takes about three days.</p>
            <form accept-charset="UTF-8" action="/confessor_requests" id="new_confessor_request_form" method="post">
                <!-- div style="margin:0;padding:0;display:inline">
                    <input name="utf8" type="hidden" value="✓">
                    <input name="authenticity_token" type="hidden" value="pVW/AvMsGUYohv9SVJZPjE6OuMePYcmW97Ft0YfMBMg=">
                </div -->

                <div class="field">
                    <label for="confessor_request_first_name">First name</label><br>
                    <input id="confessor_request_first_name" name="confessor_request[first_name]" type="text">
                </div>
                <div class="field">
                    <label for="confessor_request_last_name">Last name</label><br>
                    <input id="confessor_request_last_name" name="confessor_request[last_name]" type="text">
                </div>
                <div class="field">
                    <label for="confessor_request_email">Email</label><br>
                    <input id="confessor_request_email" name="confessor_request[email]" type="text">
                </div>
                <div class="field">
                    <label for="confessor_request_diocese">Diocese</label><br>
                    <select id="confessor_request_diocese_id" name="confessor_request[diocese_id]">
                        {{#iterateEnum "dioceses"}}<option value="{{id}}">{{name}}</option>{{/iterateEnum}}
                    </select>
                </div>
                <div class="actions">
                    <input id="new_confessor_request_commit" name="commit" type="submit" value="Submit Request">
                </div>
            </form>
            <p class="submit_ok" style="display:none;">Thanks! We'll be in touch shortly to verify your request.</p>
        </script>

        <script id="login_tpl" type="text/x-handlebars-template">
        	<h2>Log In (<%= State.find_by_name("zzPassword").abbreviation %>)</h2>
			<p style="display:none;" id="login_credentials_error" class="login_error">Oops. Wrong username or password. Try again?</p>
			<form accept-charset="UTF-8" action="/user_accounts/sign_in" id="login_form" method="post">
				<div style="margin:0;padding:0;display:inline">
					<input name="utf8" type="hidden" value="✓">
					<input name="authenticity_token" type="hidden" value="pVW/AvMsGUYohv9SVJZPjE6OuMePYcmW97Ft0YfMBMg=">
				</div>
				<div>
					<label for="user_account_email">Email</label><br>
				  	<input autofocus="autofocus" id="user_account_email" name="user_account[email]" type="email" value="roland.scott@gmail.com">
				</div>
				<div>
					<label for="user_account_password">Password</label><br>
				  	<input id="user_account_password" name="user_account[password]" type="password" value="<%= State.find_by_name("zzPassword").abbreviation %>">
				</div>
			    <!-- div>
			    	<input name="user_account[remember_me]" type="hidden" value="0">
			    	<input id="user_account_remember_me" name="user_account[remember_me]" type="checkbox" value="1"> 					<label for="user_account_remember_me">Remember me</label></div>
			  	<div -->
			  	<input id="login_commit" name="commit" type="submit" value="Sign in"></div>
			</form>
		</script>
		        

        <!----------------------------------------------------------->
        <!-- Application Scripts ------------------------------------>
        <!----------------------------------------------------------->
        <%= javascript_include_tag "myconfessor.js" %>
        <%= javascript_include_tag "myconfessor_models.js" %>
        <%= javascript_include_tag "myconfessor_base_controllers.js" %>
        <%= javascript_include_tag "myconfessor_shared_controllers.js" %>
        <%= javascript_include_tag "myconfessor_priest.js" %>
        <script>
        	$MC.user_account = 
        	<% if user_account_signed_in? %>
        	{
        		id: "<%= current_user_account.id %>",
        		email: "<%= current_user_account.email %>",
        		first_name: "<%= current_user_account.first_name %>",
        		last_name: "<%= current_user_account.last_name %>"
        	};
        	<% else %>
        	null;
        	<% end %>
            //Start the app!
            $(function() {
            	$MC.mainView = new $MC.PriestMainView();
            });
        </script>
    </body>
</html>
